---
import SpaConfig from "../../yukina.config";
import GlobalStyles from "../components/GlobalStyles.astro";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang={SpaConfig.locale}>
  <head>
    <BaseHead />
  </head>
  <body>
    <GlobalStyles />
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
